#contact {
  display: none;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 80vw;
  height: 80vh;
  > button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
  }
  > form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > * {
      margin: 1rem;
    }
    > input {
      width: 40vmax;
      height: 2rem;
      font-size: 1rem;
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
    }
    > div {
      width: 40vmax;
      height: 2rem;
      > select {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
      }
      > textarea {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
      }
    }
    .contact-submit {
      width: 50%;
      font-size: 1rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      background-color: #f9b234;
      color: black;
      cursor: pointer;
    }
  }
}

.show {
  display: block !important;
}
