@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");
:root {
  --bgcolor: #0f1624;
  --transcolor: #000000;
}

html {
  font-size: 20px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bgcolor);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}
* {
  max-width: 100%;
  overflow-x: hidden;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: white;
}
/* Pages css  */

/* home */

.home {
  font-size: 26px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  min-height: 95vh;
  font-family: "Roboto Mono", monospace;
  /* font-family: "Noto Sans", sans-serif;  */
}
.home > .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4em;
  font-family: "ADLaM Display", cursive;
}
.home > .text > .typed {
  font-size: 0.9em;
  color: rgb(194, 194, 194);
  height: 10em;
  max-width: 25em;
  word-wrap: break-word;
  font-family: "Heebo", sans-serif;
}
.home > .svgimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------- project ------------------------------------------------*/

.card {
  min-height: 25em;
  box-shadow: 0px 0px 3px 1px rgb(136, 136, 136);
  margin: 2em;
  border-radius: 2em 2em 0.5em 0.5em;
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 20em;
}
.card > .img {
  width: 20em;
  height: 10em;
  overflow: hidden;
}
.card > .text {
  text-align: center;
}
.projectbox {
  /* background-color: rgba(0, 0, 0, 0.496); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Noto Sans", sans-serif;
}
/*----------------------------------------- Journey -----------------------------------------*/
.journey {
  font-size: 15px;
  min-height: 100vh;
  /* background-color: aliceblue; */
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.journey > .containSvg {
  display: none;
}
.full-line {
  height: 1vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform: translateX(-100%);
}
.line-anime {
  animation: move 5s linear forwards;
  box-shadow: 0px 0px 10px 1px black;
}
.up-spike,
.down-spike {
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  .set {
    border-radius: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .item {
    min-width: 10em;
    min-height: 3em;
    background-color: var(--transcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 0px 1em;
  }
  .item > label {
    color: rgb(95, 95, 139);
  }
  .item > p {
    margin: 1.5em;
    font-weight: bold;
    font-family: "Inconsolata", monospace;
  }
}
.up-spike {
  .set {
    opacity: 0;
    /* animation: anime-up 0.5s ease-in-out forwards; */
    background-color: var(--bgcolor);
    .tag {
      width: 100%;
      height: 1em;
      background-color: var(--transcolor);
      position: relative;
    }
    .tag::before {
      content: " ";
      position: absolute;
      height: 0.5em;
      background-color: var(--bgcolor);
      bottom: 0;
      width: 100%;
      height: 100%;
      border-left: 1px solid var(--transcolor);
      border-radius: 20em 0px 0px 0px;
    }
  }
  .set:nth-child(1) {
    animation-delay: 100ms;
  }
  .set:nth-child(2) {
    animation-delay: 1.3s;
  }
  .set:nth-child(3) {
    animation-delay: 2.5s;
  }
  .set:nth-child(4) {
    animation-delay: 3.8s;
  }
}
.down-spike {
  .set {
    color: white;
    opacity: 0;
    /* animation: anime-down 0.5s ease-in-out forwards; */
    background-color: var(--bgcolor);
    .tag {
      width: 100%;
      height: 1em;
      background-color: var(--transcolor);
      position: relative;
    }
    .tag::before {
      content: " ";
      position: absolute;
      background-color: var(--bgcolor);
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 20em 0px;
    }
  }
  .set:nth-child(1) {
    animation-delay: 1s;
  }
  .set:nth-child(2) {
    animation-delay: 2.5s;
  }
  .set:nth-child(3) {
    animation-delay: 4s;
  }
}
.up-ani .set{
  animation: anime-up 0.5s ease-in-out forwards;
}
.down-ani .set{
  animation: anime-down 0.5s ease-in-out forwards;
}
/* keyframe */
@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes anime-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anime-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

label {
  color: white;
  /* background-color: rgba(0, 0, 0, 0.7); */
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 2px 2px 2px #000000;
}
/* NAVBAR */
.navbody {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar > .inpage {
  display: inherit;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.inpage > * {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin: 1em;
  font-family: "Phudu", cursive;
}
.navbar {
  width: 100%;
}
.navbar > .outpage {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.res {
  display: none !important;
}

/* media queries */
@media screen and (max-width: 1200px) {
  .journey {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .journey {
    font-size: 10px;
  }
}
/* Media query for screens with a maximum width of 820px */
@media screen and (max-width: 820px) {
  .journey > div:nth-child(-n + 3) {
    display: none;
  }

  .journey > div:last-child {
    display: block;
    margin: 3em;
  }
  .containSvg svg path {
    stroke-width: 8;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawPath 10s ease-in-out forwards;
  }
  .containSvg{
    position: relative;
    .set{
      display: inline-block;
      background-color: red;
      position: absolute;
      top: 0;
      left: 5em;
    }
  }
}

@keyframes drawPath {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .navbar > .inpage .link:nth-last-child(1) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .home {
    font-size: 14px;
    grid-template-columns: 1fr;
  }
  .home > .svgimg {
    display: none;
  }
  .box {
    font-size: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr;
  }
  .project {
    font-size: 12px;
  }
  .skills {
    font-size: 12px;
  }
  .contact {
    font-size: 8px;
  }
  .navbar {
    display: none;
  }
  .res {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    margin: 1em;
  }
  .resmenu {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 1000;
    opacity: 0;
    max-width: 40%;
    transition: opacity 0.8s ease-in-out;
    border-radius: 1em 0em 0em 1em;
    background-color: rgb(203, 202, 200);
  }

  .resmenu.active {
    display: block;
    opacity: 1;
  }
  .resmenu > ul {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20px;
    align-items: center;
  }
  ul > * {
    margin: 0.3em;
    font-size: 2em;
  }

  ul a:nth-last-child(-n + 3) {
    height: 20px;
    display: flex;
    width: 100%;
  }
}
