#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
#container {
  position: absolute;
  z-index: 3;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
}
nav a.item {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  margin: 20px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
nav a.item::after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffffff98;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 200ms ease-in-out;
}
nav a.item:hover::after {
  transform: scaleX(1);
}
