:root {
  --bgcolor: #0f1624;
}
html {
  font-size: 20px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bgcolor);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}
* {
  max-width: 100%;
  overflow-x: hidden;
}
.project,.journey {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: white;
}
/* Pages css  */

/* home */

.home {
  font-size: 26px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  min-height: 95vh;
  font-family: "Roboto Mono", monospace;
  /* font-family: "Noto Sans", sans-serif;  */
}
.home > .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.home > .text > .typed {
  font-size: 0.9em;
  color: rgb(194, 194, 194);
  height: 10em;
  max-width: 23em;
}
.home > .svgimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------- project ------------------------------------------------*/

.card {
  min-height: 25em;
  box-shadow: 0px 0px 3px 1px rgb(136, 136, 136);
  margin: 2em;
  border-radius: 2em 2em 0.5em 0.5em;
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 20em;
}
.card > .img {
  width: 20em;
  height: 10em;
  overflow: hidden;
}
.card > .text {
  text-align: center;
}
.projectbox {
  /* background-color: rgba(0, 0, 0, 0.496); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Noto Sans", sans-serif;
}
/*----------------------------------------- Journey -----------------------------------------*/
.journey{
  font-size: 16px;
  width: 100%;
}
.sidebar{
  min-width: 2em;
  min-height: 70%;
  background-color: black;
}
/* keyframe */
/* @keyframes slide {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */
/* componenets css */
/* .anime {
  animation: slide 1s ease-in;
}
.false {
  display: none;
} */
/* NAVBAR */
/* keyframe */
/* @keyframes slide {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */
/* componenets css */
/* .anime {
  animation: slide 1s ease-in;
}
.false {
  display: none;
} */
label {
  color: white;
  /* background-color: rgba(0, 0, 0, 0.7); */
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 2px 2px 2px #000000;
}
/* NAVBAR */
.navbody {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar > .inpage {
  display: inherit;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.inpage > * {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin: 1em;
}
.navbar {
  width: 100%;
}
.navbar > .outpage {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.res {
  display: none !important;
}

/* media queries */
@media screen and (max-width: 768px) and (min-width: 600px) {
  .navbar > .inpage .link:nth-last-child(1) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .home {
    font-size: 14px;
    grid-template-columns: 1fr;
  }
  .home > .svgimg {
    display: none;
  }
  .box {
    font-size: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr;
  }
  .project {
    font-size: 12px;
  }
  .skills {
    font-size: 12px;
  }
  .contact {
    font-size: 8px;
  }
  .navbar {
    display: none;
  }
  .res {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    margin: 1em;
  }
  .resmenu {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 1000;
    opacity: 0;
    max-width: 40%;
    transition: opacity 0.8s ease-in-out;
    border-radius: 1em 0em 0em 1em;
    background-color: wheat;
  }

  .resmenu.active {
    display: block;
    opacity: 1;
  }
  .resmenu > ul {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20px;
    align-items: center;
  }
  ul > * {
    margin: 0.3em;
    font-size: 2em;
  }
  ul a:nth-last-child(-n + 3) {
    width: 20px;
    height: 20px;
    display: flex;
    width: 100%;
  }
}
